<h1> Welcome to Rock, Paper, Scissors! </h1>
<div>
<img alt="Image titled Play Rock, Paper, Scissors Step 5" width="528" height="346" class="whcdn content-fill" id="img_cc575097f0" data-src="https://www.wikihow.com/images/thumb/3/33/Play-Rock%2C-Paper%2C-Scissors-Step-5-Version-3.jpg/aid42597-v4-728px-Play-Rock%2C-Paper%2C-Scissors-Step-5-Version-3.jpg" src="https://www.wikihow.com/images/thumb/3/33/Play-Rock%2C-Paper%2C-Scissors-Step-5-Version-3.jpg/aid42597-v4-728px-Play-Rock%2C-Paper%2C-Scissors-Step-5-Version-3.jpg.webp"></div>
<div>
<p> Choose one! <a>Rock</a>, Paper or Scissors!</p>
<p>
Rock beats Scissors <br>
    Paper beats Rock <br>
   Scissors beats Paper <br>
</p>
</div>
