<h1> Welcome to Rock, Paper, Scissors! </h1>

<a href="https://www.wikihow.com/Play-Rock,-Paper,-Scissors"> <img src="https://www.wikihow.com/Play-Rock,-Paper,-Scissors#/Image:Play-Rock,-Paper,-Scissors-Step-5-Version-3.jpg"></a>
<p> Choose one! <a>Rock</a>, Paper or Scissors!</p>
<p>
  <ul>
    <li> Rock beats Scissors </li>
    <li>Paper beats Rock</li>
    <li> Scissors beats Paper</li>
  </ul>
</p>
